@if(dbInitialized === true){

<mat-form-field class="canvas-size-select">
  <mat-label>Select</mat-label>
  <mat-select [value]="painting.canvas.resolution" (selectionChange)="onResolutionChange($event)">
    @for(resolution of resolutionOptions; track resolution.value){
      <mat-option value="{{resolution.value}}">{{resolution.label}}</mat-option>
    }
  </mat-select>
</mat-form-field>

<ngx-paint
  [undoStack]="undoStack"
  [width]="canvasWidth"
  [height]="canvasHeight"
  (historyChange)="onHistoryChange($event)"
  (redoStackChange)="onRedoStackChange($event)"
></ngx-paint>
}
